*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 6rem;
    flex-direction: column;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
input {
    display: none;
}

.title {
    width: 100%;
    height: 50px;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    perspective: 900px;
}

.item {
    border-radius: 0.4rem;
    overflow: hidden;
    cursor: pointer;
    width: 30%;
    transition: .5s all ease;
    transform: rotateX(45deg) scale(0.7);
    box-shadow: 0px 20px 50px rgb(211, 209, 209);
}

.card1,.card2,.card3 {
    width: 405px;
    height: 592px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 15px;
    background-image: url("img/card\ back.png");
}

.item:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1);
    transition: .5s all ease;
    z-index: 400;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}

#obl:checked~.container>.card1 {
    transform: rotateY(180deg) scaleX(-1);
    background-image: url("img/obelisk.png");
}

#ra:checked~.container>.card2 {
    transform: rotateY(180deg) scaleX(-1);
    background-image: url("img/ra.png");
}

#slifer:checked~.container>.card3 {
    transform: rotateY(180deg) scaleX(-1);
    background-image: url("img/slifer.png");
}

label {
    display: block;
    width: 405px;
    height: 500px;
}